/* Stylesheet for index.html */

@charset "UTF-8";
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* #wrapper {
  width: auto;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
} */

.mapboxgl-map {
  width: 100%;
  height: 80%;
}

.map {
  position: relative;
}

.body {
  margin: 0px;
  padding: 0px;
}

.mapboxgl-popup-anchor-bottom {
  max-width: 500px !important;
  right: 25px;
}
.mapboxgl-popup-close-button {
  height: 35px;
  width: 35px;
  font-size: 20px;
}

.mapboxgl-popup-content{
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 400px !important;
  width: 400px !important;
  max-height: 300px !important;
  min-height: 300px !important; 
}

.mapboxgl-popup-content img {
  max-height: 200px !important;
  min-height: 150px !important;
  max-width: 100px !important;
}

.searchResults{
  overflow-x:hidden;
  overflow-y: scroll;
  max-height: 730px;
}

.col-md-4 img {
  max-height: 300px;
  min-width: 150px;
}

#header {
  background-color: #646464;
  height: 60px;
  width: 100%;
  left: 0px;
  right: 0px;
  margin-top: 0px;
}

#nav {
  width: 100%;
  height: 60px;
}

#title {
  line-height: 60px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

#footer {
  background-color: #646464;
  height: 30px;
  width: 100%;
  left: 0px;
  right: 0px;
  margin-top: 0px;
}

.map-container {
  height: 1000px !important;
}

.has-search .form-control {
  padding-left: 2.375rem;
  padding-right: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}